
<footer class="bg-gray-800 text-white fixed max-h-14 bottom-0 left-0 w-full flex items-center justify-center z-50">
    <span>Created by <a href="talentelgia.com">Talentelgia Team</a></span>
</footer>

@code {

}
