@* <header>
	<div class="flex fixed flex-wrap place-items-center z-50">
		<section class="relative mx-auto">
			<!-- navbar -->
			<nav class="flex justify-between bg-gray-900 text-white w-screen">
				<div class="px-2 xl:px-12 max-h-14 flex w-full items-center">
					<a class="text-3xl font-bold font-heading" href="#">
						<!-- <img class="h-9" src="logo.png" alt="logo"> -->
						<img class="h-12" src={smallLogo} alt="logo" />
					</a>
					<!-- Nav Links -->
					<ul class="hidden md:flex max-w-screen-lg px-4 mx-auto font-semibold font-heading space-x-12">
						<li class="group">
							<a class="nav-element" class:selected={pathname === '/'} href="/">Home</a>
						</li>
						<li class="group">
							<a class="nav-element" class:selected={pathname === '/category'} href="/category"
								>Categories</a
							>
						</li>
						<li class="group">
							<a class="nav-element" class:selected={pathname === '/item'} href="/item">Items</a>
						</li>
						<li class="group">
							<a class="nav-element" class:selected={pathname === '/about-us'} href="/about-us"
								>About Us</a
							>
						</li>
					</ul>

					<!-- Header Icons -->
					<div class="hidden xl:flex space-x-5 items-center">
						<CartButton on:cartOpen={onCartOpen} />
						<button
							class="flex items-center hover:text-gray-200"
							type="button"
							on:click={onAuthOpen}
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6 hover:text-gray-200"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
								/>
							</svg>
						</button>
					</div>
				</div>
				<!-- Responsive navbar -->
				<div class="xl:hidden flex mr-6 items-center">
					<CartButton on:cartOpen={onCartOpen} />
				</div>

				<button
					class="navbar-burger self-center mr-5 xl:hidden"
					type="button"
					on:click|preventDefault={onOpenClick}
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6 hover:text-gray-200"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"
						/>
					</svg>
				</button>
				{#if authOpen}
					<ul
						class="auth-div bg-gray-800 absolute top-16 right-0 flex flex-col items-center w-40 p-4 rounded-md z-10 shadow-sm"
						style:visibility={authOpen ? 'visible' : 'hidden'}
						transition:fade={{ duration: 300 }}
						use:clickOutside
						on:click_outside={handleClickOutside}
					>
						<li>
							<a class="nav-element" class:selected={pathname === '/login'} href="/login">
								Login
							</a>
						</li>
						<hr class="w-full my-2" />
						<li>
							<a class="nav-element" class:selected={pathname === '/register'} href="/register">
								Register
							</a>
						</li>
					</ul>
				{/if}
			</nav>
		</section>
	</div>
	{#if isOpen}
		<SideBarCard>
			<div
				class="mt-16 bg-gray-800 {isOpen ? 'block' : 'hidden'}  m-1 rounded-md shadow-md"
				transition:fly={{ y: 200, duration: 500 }}
				slot="overlay"
			>
				<a href="/" class="nav-element m-1" class:selected={pathname === '/'}> Home </a>
				<a href="/category" class="nav-element m-1" class:selected={pathname === '/category'}>
					Categories
				</a>

				<a href="/item" class="nav-element m-1" class:selected={pathname === '/item'}>Items </a>
				<a href="/about-us" class="nav-element m-1" class:selected={pathname === '/about-us'}>
					About Us
				</a>
				{#if !user.token}
					<a href="/login" class="nav-element m-1" class:selected={pathname === '/login'}>
						Login
					</a>
					<a href="/register" class="nav-element m-1" class:selected={pathname === '/register'}>
						Register
					</a>
				{:else}
					<a href="/profile" class="nav-element m-1" class:selected={pathname === '/profile'}>
						Profile
					</a>
					<a href="/logout" class="nav-element m-1" class:selected={pathname === '/logout'}>
						Logout
					</a>
				{/if}
			</div>
		</SideBarCard>
	{/if}
	{#key isCartOpen}
		<CartBar {isCartOpen} on:cartOpen={onCartOpen} />
	{/key}
</header>
 *@
@code{

}
