<div class="fixed top-0 left-0 z-10 w-full h-full bg-slate-100 bg-opacity-50 flex items-center justify-center">
    <div class="flex space-x-2 animate-pulse animate-spin-slow">
        <img src="css/icons/food.svg" alt="food" data-attribute="https://www.svgrepo.com/svg/313024/shallow-pan-of-food" />
    </div>
</div>